body {
  background: #fdfdfd;
  color: #c2c2c2;
  font-size: 14px;
}

.nombre{
background: #c2c2c2;
}

label {
  color: #000000
  
}

nav ul li a

/* nav ul li  a:hover {
background: #c2c2c2;
display: block;
width: 200px;
} */